body p {
text-decoration: underline;
}
td{
    border: 1px solid black;
  }/*premier tableau*/
  table
  {
  border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
  }
  td
  {
          border: 3px solid black;
    }
    tbody {
    background-color:yellow;
  }
thead
{border: 4px solid red;
}
h1
{text-align: center;
margin: 0px;
border :3px black solid;
border-radius :5px/10px;
}
h1
{
    border: 2px #72543b solid;
    display:table;
    margin:auto;/* centre l'element , pas de marge = alignement dans le sens de lecture, généralement gauche */
}
