body p {
text-decoration: underline;
}
td{
    border: 1px solid black;
  }/*premier tableau*/
  table
  {
  border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
  }
  td
  {
          border: 3px solid black;
    }

{border: 4px solid red;
}
h1
{text-align: center;
margin: 0px;
border :3px black solid;
border-radius :5px/10px;
}
h1
{
    border: 2px #72543b solid;
    display:table;
    margin:auto;/* centre l'element , pas de marge = alignement dans le sens de lecture, généralement gauche */
}
h1
{
box-shadow: 6px 6px 0px black;/*mettre de l ombre encadrement du titre*/
@media screen and (min-width: 720px){
color: #FF0000;
border: #000 1px dashed;
}
@media screen and (min-width: 720px){
color: #FF0000;
border: #000 1px dashed;
}

@media screen and (min -width: 480px) and (max-width: 720px){
color:  #333;
border: #CCC 1px solid;
}

@media screen and (max-width: 480px){
color:  #000;
border:none;
}/*@media:ajout responsive,r(evoir le titre,ne fonctionne pas)*/
